@threetwenty-color-pink: #ff33bb;
@threetwenty-color-blue: #00bbdd;


@body__color: @color-black;

@link__color: @threetwenty-color-pink;
@link__hover__color: @threetwenty-color-pink;
@header__background-color: @color-white;
@h1__font-color: @threetwenty-color-pink;

//  Navigation
@navigation-level0-item__color: @color-white;
@submenu-item__color: @color-white;

@navigation__background: @threetwenty-color-pink;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__active__color: @color-white;
@navigation-desktop-level0-item__active__border-color: @color-white;


//  Primary button
@button-primary__color: @color-white;
@button-primary__hover__color: @color-white;
@button-primary__background: @threetwenty-color-pink;
@button-primary__hover__background: darken(@threetwenty-color-pink, 10%);
@button-primary__border: 1px solid @threetwenty-color-pink;
@button-primary__hover__border: 1px solid darken(@threetwenty-color-pink, 10%);

//  Header icons
@header-icons-color: @threetwenty-color-pink;
@header-icons-color-hover: darken(@threetwenty-color-pink, 10%);
