@threetwenty-color-pink: #ff33bb;
@threetwenty-color-blue: #00bbdd;

//
//  Typography
//  ---------------------------------------------

//  Fonts

//  Color nesting

//  Headings

@body__color: @color-black;

//  Links
@link__color: @color-white;
@link__hover__color: @threetwenty-color-white;

//  Focus

@header__background-color: @threetwenty-color-pink;
@h1__font-color: @threetwenty-color-pink;

@footer__background-color: @threetwenty-color-pink;

//
//  Navigation
//  ---------------------------------------------

@navigation__background: @threetwenty-color-blue;

@navigation-level0-item__color: @color-white;
@navigation-level0-item__active__color: @color-white;

@submenu-item__color: @color-white;
@submenu-item__active__color: @color-white;

//  Desktop navigation

@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__active__color: @color-white;
@navigation-desktop-level0-item__active__border-color: @color-white;

@submenu-desktop-item__active__color: @color-white;


//  Primary button
@button-primary__color: @color-white;
@button-primary__hover__color: @color-white;
@button-primary__background: @threetwenty-color-pink;
@button-primary__hover__background: darken(@threetwenty-color-pink, 10%);
@button-primary__border: 1px solid @threetwenty-color-pink;
@button-primary__hover__border: 1px solid darken(@threetwenty-color-pink, 10%);

//  Header icons
@header-icons-color: @threetwenty-color-pink;
@header-icons-color-hover: darken(@threetwenty-color-pink, 10%);
