.main-banner {
    position: relative;
    background-image: url(../images/title-hero-custom-mouthguard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    min-height: 600px;
}
